/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2021, 1:06:50 AM
    Author     : Vikum
*/

.username{
    -fx-text-fill:white;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 1px 0px;
}
.password{
    -fx-text-fill:white;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 1px 0px;
}
.btnSignin{
    -fx-background-color:  #141d26;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-text-fill:#b3c2e7;
    
}
.btn{
    -fx-border-width: 1px 0px 1px 0px;
    -fx-background-color:  transparent;
}
.btn:hover{
    -fx-background-color:  #141d26;
}
.btn:focused{
    -fx-background-color:  #141d26;
}
.btnMid{
    -fx-border-width: 0px 0px 1px 0px;
    -fx-background-color:  transparent;
}
.btnMid:hover{
    -fx-background-color:  #141d26;
}
.btnMid:focused{
   -fx-background-color:  #141d26;
}
.btnMakeOrder{
     -fx-border-width: 0px 0px 0px 0px;
    -fx-background-radius: 25px;
    -fx-background-color:  transparent;
    -fx-border-color: white;

}
.btnMakeOrder:hover{
    -fx-background-color:  #141d26;
}